.size-medium-color {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.size-medium-color .icon-instance {
  flex: 0 0 auto !important;
}

.size-medium-color .icon-12 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
