.NavBar {
  align-items: center;
  background-color: var(--palette-common-white-states-main);
  border-radius: var(--paddings-border-radius);
  box-shadow: 0.4rem 1.6rem 3.2rem rgba(29, 29, 29, 0.08);
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0px var(--paddings-padding-24);

  /* Sticky positioning */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.NavBar-links {
  display: flex;
  gap: 20px;
}

.NavBar-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.NavBar-buttons {
  display: flex;
  gap: 10px;
}
